<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>111127964751-qlsmsd7h994dssd4ksro2uf784jub880.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.111127964751-qlsmsd7h994dssd4ksro2uf784jub880</string>
	<key>API_KEY</key>
	<string>AIzaSyA1tenAVWG3xaGa4t3n8xic0dLBiB3VJlE</string>
	<key>GCM_SENDER_ID</key>
	<string>111127964751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.YaChu.TiledGame</string>
	<key>PROJECT_ID</key>
	<string>tilegame-66970</string>
	<key>STORAGE_BUCKET</key>
	<string>tilegame-66970.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:111127964751:ios:c898fea850964be1</string>
	<key>DATABASE_URL</key>
	<string>https://tilegame-66970.firebaseio.com</string>
</dict>
</plist>